<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script>var snd = new Audio();
    snd.src = [
      "public/sound/8d82b5_Street_Fighter_Eight_Sound_Effect.mp3",
      "public/sound/8d82b5_Street_Fighter_Five_Sound_Effect.mp3",
      "public/sound/8d82b5_Street_Fighter_Four_Sound_Effect.mp3",
      "public/sound/8d82b5_Street_Fighter_One_Sound_Effect.mp3",
      "public/sound/8d82b5_Street_Fighter_Seven_Sound_Effect.mp3",
      "public/sound/8d82b5_Street_Fighter_Six_Sound_Effect.mp3",
      "public/sound/8d82b5_Street_Fighter_Three_Sound_Effect.mp3",
      "public/sound/8d82b5_Street_Fighter_Two_Sound_Effect.mp3"
    ];</script>
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
  <footer>
    Copywrited Material: for private use only.
  </footer>
</body>

</html>