<div class="jumbotron" id="head2">
  <h1 id="invisible">Round 1!</h1>
</div>
{{!-- <div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Todo!</h5>
          <a href="http://localhost:3000">← Back To Home</a>
        </div>
      </div>
    </div>
  </div> --}}
  <div class="row">
    <div id="gif" class="col-8 offset-1">
      <img src="Ryu.gif" alt="Ryu" />ls
      
    </div>
    <div class="col-5">
      <h1>{{msg}}</h1>
      <ul id="example-list" class="list-group">
        {{#each todos}}
        <li data-id="{{this.id}}" class="list-group-item">
          <a href="todo/{{this.id}}">{{this.name}}</a>
          <button class="btn btn-danger float-right delete">ｘ</button>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{!-- <div class="row">
    <div class="col-8 text-center mt-3">
      <button class="btn btn-secondary"><a href="http://localhost:3000/final">Next Round</a></button>
    </div>
  </div> --}}
    <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div id="Tourney" class="card-body">
          <h5 class="card-title">Todos</h5>
          <a href="http://localhost:3000/">← Back To Home</a>
                    <a href="http://localhost:3000/final">← Results</a>

        </div>
      </div>
    </div>
  </div>
</div>
  